.image {
  width: 200px;
  height: 200px;
  display: inline-block;
  border: 1px dotted grey;
  box-sizing: border-box;
  background-position: center;
  background-repeat: no-repeat;
  margin: 16px;
}
.image:nth-child(1),
.image:nth-child(2) {
  background-size: contain;
}
.image:nth-child(3) {
  background-size: contain;
  margin-left: 12px;
}
.image:nth-child(2) {
  margin-left: 11px;
}
