.header {
  background-color: darkturquoise;
  height: 40px;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.nav-list {
  height: 40px;
  list-style-type: none;
  position: absolute;
  display: flex;
  margin: 0px;
}

.nav-list li {
  top: 50%;
  height: 40px;
  display: block;
  margin-left: 16px;
  color: white;
  position: relative;
  float: left;
  transform: translate(0, -50%);
}
.content {
  height: 5000px;
  background-color: beige;
}
.head {
  height: 200px;
  width: 200px;
  background-color: aquamarine;
  position: absolute;
  top: calc(50% - 100px);
  right: calc(50% - 100px);
}
.ear {
  width: 40px;
  height: 60px;
  background-color: brown;
  position: relative;
}

.ear_right {
  float: left;
  right: 40px;
  bottom: 60px;
}
.ear_left {
  float: right;
  left: 40px;
  bottom: 60px;
}
.eye {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: grey;
  margin-top: 80px;
  position: relative;
}
.eye_right {
  float: left;
}
.eye_left {
  float: right;
}
