.header {
  background-color: darkturquoise;
  height: 40px;
  position: fixed;
  width: 100%;
  z-index: 1;
}
.navigation {
  height: 40px;
  /* line-height: 50%; */
  position: static;
  box-sizing: border-box;
  margin-top: 0px;
  margin-bottom: 0px;
}
.nav-list {
  height: 40px;
  list-style-type: none;
  position: static;
  box-sizing: border-box;
}
.nav-list li {
  height: 40px;
  display: inline;
  margin-left: 16px;
  color: white;
  position: static;
  float: left;
}
.nav-item {
  height: 40px;
  position: relative;
  box-sizing: content-box;
}
.content {
  height: 5000px;
  background-color: beige;
  box-sizing: border-box;
}
.head {
  height: 200px;
  width: 200px;
  background-color: aquamarine;
  box-sizing: border-box;
  position: absolute;
  top: calc(50% - 100px);
  right: calc(50% - 100px);
}
.ear {
  width: 40px;
  height: 60px;
  background-color: brown;
  position: relative;
}

.ear_right {
  float: left;
  right: 40px;
  bottom: 60px;
}
.ear_left {
  float: right;
  left: 40px;
  bottom: 60px;
}
.eye {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: grey;
  margin-top: 80px;
  position: relative;
}
.eye_right {
  float: left;
}
.eye_left {
  float: right;
}

/* 
  /* width: 100%;
  position: fixed;
  box-sizing: border-box;
  z-index: 1; */
/* } */
/* .navigation { */
/* height: 40px;
  color: white;
  line-height: 50%;
  position: static;
  z-index: 1; */
/* }
li { */
