html {
  font-family: Verdana;
}
h1 {
  font-size: 74px;
  margin: auto;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  width: 50%;
  text-align: center;
}
.center {
  height: 200px;
  background-color: coral;
  text-align: center;
  line-height: 200px;
  color: white;
  text-transform: uppercase;
}
