* {
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.block {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
  height: 100px;
  width: 300px;
  background-color: coral;
  text-align: center;
  line-height: 100px;
  margin: 0 auto;
  animation: move 2s;
  position: relative;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
  border-radius: 10px;
}

@keyframes move {
  from {
    top: 100px;
  }
  to {
    top: calc(50vh - 50px);
  }
}
